<!DOCTYPE html>
<html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>
  body {
    background-size: cover;
  background-image: url(img.jpg);
}
.form-container{
  border:1px solid #fff;
padding:50px 60px;
opacity: 1;
}
.sub{
  background-color: green;
}

</style>
<body > 

  

<div class="container-fluid">
  <div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12"> </div>
  <div class="col-md-4 col-sm-4 col-xs-12">


<form ng-app="myApp" ng-controller="validateCtrl" 
name="myForm" novalidate class="form-container">
<h1>SignIn</h1>
<p>Username:<br>
<input type="text" name="user" ng-model="user" required>
<span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
<span ng-show="myForm.user.$error.required">Username is required.</span>
</span>
</p>

<p>Password:<br>
<input type="password" name="email" ng-model="email" required>
<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
<span ng-show="myForm.email.$error.required">Password is required.</span>
<span ng-show="myForm.email.$error.email">Invalid email address.</span>
</span>
</p>
<input type="checkbox" name="rember">Rember Me
<p>
<input class="sub" type="submit"
ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||  
myForm.email.$dirty && myForm.email.$invalid">
</p>


</form>
</div>
<div  class="col-md-4 col-sm-4 col-xs-12"></div>
</div>
</div>


<script>
var app = angular.module('myApp', []);
app.controller('validateCtrl', function($scope) {
    $scope.user = 'enter your user name ';
    $scope.email = 'enter your password ';
});
</script>


</body>
</html>
